# Backup files from text editors
*~
*.DS_Store
.*.swp
.hg
.hgignore
.svn
.svnignore

# cocospod
Pods
Podfile.lock

# Xcode crap
*mode1v3
*pbxuser
*perspectivev3
*xcuserdata*
*xcworkspace*
# Junk files on Mac OS X
*.DS_Store

.python-version
*.playground
Crashlytics.framework
