[submodule "libhangul-objc"]
	path = libhangul-objc
	url = git://github.com/yous/libhangul-objc.git
	branch = experimental
[submodule "hangeul"]
	path = hangeul
	url = https://github.com/youknowone/hangeul.git
[submodule "FoundationExtension"]
	path = FoundationExtension
	url = https://github.com/youknowone/FoundationExtension.git
[submodule "iOSTheme"]
	path = iOSTheme
	url = https://github.com/gureum/ios-theme
