<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536916427789-o3felbvdlp5ruqkht7a1ts3tern2na9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536916427789-o3felbvdlp5ruqkht7a1ts3tern2na9u</string>
	<key>API_KEY</key>
	<string>AIzaSyBagdgpdmhhcwcjFQhQNu5b8c-xuwlwQMA</string>
	<key>GCM_SENDER_ID</key>
	<string>536916427789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.youknowone.inputmethod.Gureum</string>
	<key>PROJECT_ID</key>
	<string>gureum-macos</string>
	<key>STORAGE_BUCKET</key>
	<string>gureum-macos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:536916427789:ios:73c2d3dcbc90aee0</string>
	<key>DATABASE_URL</key>
	<string>https://gureum-macos.firebaseio.com</string>
</dict>
</plist>
