<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Gureum.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.youknowone.inputmethod.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>org.youknowone.inputmethod.GureumKIM.han2</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.youknowone.inputmethod.GureumKIM.han2</string>
				<key>TISIntendedLanguage</key>
				<string>ko</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>han2.png</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>han2.png</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>han2.png</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smKorean</string>
			</dict>
			<key>org.youknowone.inputmethod.GureumKIM.han2classic</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.youknowone.inputmethod.GureumKIM.han2classic</string>
				<key>TISIntendedLanguage</key>
				<string>ko</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>han2.png</string>
				<key>tsInputModeDefaultStateKey</key>
				<false/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>han2classic.png</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>han2.png</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smKorean</string>
			</dict>
			<key>org.youknowone.inputmethod.GureumKIM.han390</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.youknowone.inputmethod.GureumKIM.han390</string>
				<key>TISIntendedLanguage</key>
				<string>ko</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>han3.png</string>
				<key>tsInputModeDefaultStateKey</key>
				<false/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>han390.png</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>han3.png</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smKorean</string>
			</dict>
			<key>org.youknowone.inputmethod.GureumKIM.han3classic</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.youknowone.inputmethod.GureumKIM.han3classic</string>
				<key>TISIntendedLanguage</key>
				<string>ko</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>han3classic.png</string>
				<key>tsInputModeDefaultStateKey</key>
				<false/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>han3classic.png</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>han3classic.png</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smKorean</string>
			</dict>
			<key>org.youknowone.inputmethod.GureumKIM.han3final</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.youknowone.inputmethod.GureumKIM.han3final</string>
				<key>TISIntendedLanguage</key>
				<string>ko</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>han3.png</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>han3final.png</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>han3.png</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smKorean</string>
			</dict>
			<key>org.youknowone.inputmethod.GureumKIM.han3layout2</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.youknowone.inputmethod.GureumKIM.han3layout2</string>
				<key>TISIntendedLanguage</key>
				<string>ko</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>han3.png</string>
				<key>tsInputModeDefaultStateKey</key>
				<false/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>han3.png</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>han3.png</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smKorean</string>
			</dict>
			<key>org.youknowone.inputmethod.GureumKIM.han3noshift</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.youknowone.inputmethod.GureumKIM.han3noshift</string>
				<key>TISIntendedLanguage</key>
				<string>ko</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>han3.png</string>
				<key>tsInputModeDefaultStateKey</key>
				<false/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>han3noshift.png</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>han3.png</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smKorean</string>
			</dict>
			<key>org.youknowone.inputmethod.GureumKIM.hanahnmatae</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.youknowone.inputmethod.GureumKIM.hanahnmatae</string>
				<key>TISIntendedLanguage</key>
				<string>ko</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>han3.png</string>
				<key>tsInputModeDefaultStateKey</key>
				<false/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>han3.png</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>han3.png</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smKorean</string>
			</dict>
			<key>org.youknowone.inputmethod.GureumKIM.hanroman</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.youknowone.inputmethod.GureumKIM.hanroman</string>
				<key>TISIntendedLanguage</key>
				<string>ko</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>hanroman.png</string>
				<key>tsInputModeDefaultStateKey</key>
				<false/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>hanroman.png</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>hanroman.png</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smKorean</string>
			</dict>
			<key>org.youknowone.inputmethod.GureumKIM.qwerty</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.youknowone.inputmethod.GureumKIM.qwerty</string>
				<key>TISIntendedLanguage</key>
				<string>en</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>qwerty.png</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>qwerty.png</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>qwerty.png</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smRoman</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>org.youknowone.inputmethod.GureumKIM.qwerty</string>
			<string>org.youknowone.inputmethod.GureumKIM.han2</string>
			<string>org.youknowone.inputmethod.GureumKIM.han2classic</string>
			<string>org.youknowone.inputmethod.GureumKIM.han3final</string>
			<string>org.youknowone.inputmethod.GureumKIM.han390</string>
			<string>org.youknowone.inputmethod.GureumKIM.han3noshift</string>
			<string>org.youknowone.inputmethod.GureumKIM.han3classic</string>
			<string>org.youknowone.inputmethod.GureumKIM.hanroman</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>GureumInputMethod_1_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>GureumInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>GureumInputController</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TISIntendedLanguage</key>
	<string>ko</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Latn</string>
		<string>Kore</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>icon.png</string>
	<key>tsInputModePrimaryInScriptKey</key>
	<true/>
</dict>
</plist>
